/*
 * 修正媒体查询时表格的响应样式
 */
@media (max-width: 767px) {
    .table-responsive {
        border: none;
        margin-bottom: 0;
    }
}

/*
 * 头部导航栏按钮
 */
a.nav-btn {
    color: #fff;
    padding: 15px;
    float: left
}

a.nav-btn:hover {
    background: rgba(0, 0, 0, 0.1)
}

.skin-black-light a.nav-btn, .skin-black a.nav-btn {
    color: #333;
    border-right: 1px solid #eee;
}

.skin-black-light a.nav-btn:hover, .skin-black a.nav-btn:hover {
    background: none;
    color: #999;
}

/*
* Box Widget
*/
.box-header > .box-tools {
    top: 6px;
}

.btn-box-tool {
    background: transparent none repeat scroll 0 0;
    color: #97a0b3;
    font-size: 14px;
    padding: 5px;
}

.box-body > .table {
    margin-bottom: 10px;
}

.kv-grid-container .pagination {
    margin: 0
}

/*
* Modal Widget
*/
.bootstrap-dialog .modal-content {
    border-radius: 6px;
}