/*
 * 修正使用 kartik-v\yii2-widget-select2小部件时的样式问题
 */
.select2-container--default .select2-selection--multiple .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field:focus {
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}